
.ligthing-icon-header{
    border-radius:50%;
    margin-left: 50px;
    z-index: 100;
}

.nav-link{
    color: white !important;
}

.nav-link:hover{
    color: red !important;
}

/* The div with .nav-link */
div>.nav-link{
    color: white !important;
}

/* The div with inside .nav-link:hover */
div>.nav-link:hover{
    color: red !important;
}