.dj-carousel {
    text-align: center;
    margin-top: 20px;
}

.dj-menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dj-menu li {
    font-family: 'AGRESIVE', sans-serif;
    margin: 0 10px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    border: 3px solid white;
    transition: background-color 0.3s, border-color 0.3s;
    border-radius: 6px;
}

.dj-menu li:hover {
    color: red;
    border-color: red;
    transition: background-color 0.3s, border-color 0.3s;
}

.dj-menu li.active {
    animation: changeBorderColor 5s linear infinite,
    changeTextColor 5s linear infinite,
    changeShadowColor 5s linear infinite;
}

.dj-name {
    font-family: 'AGRESIVE', sans-serif;
    font-size: 70px;
    color: white;
}

/* Animación para los bordes y colores de texto */
@keyframes changeBorderColor {
    0% { border-color: red; }
    50% { border-color: yellow; }
    100% { border-color: red; }
}

@keyframes changeTextColor {
    0% { color: red; }
    50% { color: yellow; }
    100% { color: red; }
}

/* Flexbox para alinear imagen e información en el top */
.dj-flex {
    display: flex;
    align-items: flex-start; /* Alineación en la parte superior */
    justify-content: space-around;
    padding: 20px;
    margin: 20px 0;
}

/* Información del DJ */
.dj-info {
    text-align: left;
    color: white;
    padding: 15px;
    width: 50%;
    align-items: flex-start;
}

.dj-info h4 {
    margin-bottom: 10px;
}

.dj-info p {
    margin-bottom: 5px;
}

/* Imagen del DJ */
.dj-image {
    max-width: 250px;
    border-radius: 8px;
    width: 35%;
    object-fit: cover;
}

/* Transiciones de opacidad para las tarjetas de DJ */
.dj-tile {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.dj-tile.active {
    display: block;
    opacity: 1;
}

/* Estilos responsivos para dispositivos móviles */
@media screen and (max-width: 768px) {
    .dj-flex {
        flex-direction: column;
        text-align: center;
        align-items: center; /* Alinear al centro en móviles */
    }

    .dj-info {
        width: 100%;
        padding-left: 0;
    }

    .dj-image {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px; /* Añadir margen inferior para separar la imagen del texto */
    }

    .dj-menu {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
