body {
    font-family: 'Creepster', cursive;
}

.gallery-container {
    padding: 20px;
    border-radius: 15px;
}

.contestant {
    border-radius: 8px;
}


.contestant img:hover{
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 4px 6px #ff7518;
}

/* Add new font */
/* Assets\Fonts\CFHalloween-Regular.ttf */
@font-face {
    font-family: 'Creepster';
    src: url('/Assets/Fonts/Scary\ Halloween\ Font.ttf');
}

h1, span{
    font-family: 'Creepster';
    color: #ff7518;
}

.btn-vote {
    font-family: 'Creepster';
    background-color: #ff7518;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.3s;
}

.btn-vote:hover {
    background-color: #e65500;
    color: black;
}

span {
    color: #ff7518;
}
