body {
    background-color: #2b2b2b;
    font-family: 'Creepster', cursive;
    color: #ff7518;
}

.gallery-container {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 15px;
}

.contestant img :hover {
    box-shadow: 0px 0px 15px #ff7518;
}

.btn-vote {
    background-color: #ff7518;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.3s;
}

.btn-vote:hover {
    background-color: #e65500;
}

span {
    color: #ff7518;
}
