.gallery-container {
    column-count: 4;
    column-gap: 15px;
}

@media (max-width: 1200px) {
    .gallery-container {
        column-count: 3;
    }
}

@media (max-width: 900px) {
    .gallery-container {
        column-count: 2;
    }
}

@media (max-width: 600px) {
    .gallery-container {
        column-count: 1;
    }
}
