/* Genera una animación para el brillo */
/* Add a font from Assets/Fonts/AGRESIVE.otf */
@font-face {
    font-family: 'AGRESIVE';
    src: url('/Assets/Fonts/Renegade Pursuit.otf') format('opentype');
}


@keyframes glow {
    from {
        box-shadow: 0px 0px 0px 0px white;
    }
    to {
        box-shadow: 0px 0px 20px 10px white;
    }
}

@keyframes changeBorderColor{
    0%{
        border-color: #f76800;
    }
    33%{
        border-color: #86fd03;
    }
    66%{
        border-color: #018ff1;
    }
    100%{
        border-color: #f76800;
    }
}


@keyframes changeTextColor{
    0%{
        color: #f76800;
    }
    33%{
        color: #86fd03;
    }
    66%{
        color: #018ff1;
    }
    100%{
        color: #f76800;
    }
}

@keyframes changeShadowColor{
    0%{
        /* Like neon */
        box-shadow: 0px 0px 10px 5px #f76800;
    }
    33%{
        box-shadow: 0px 0px 10px 5px #86fd03;
    }
    66%{
        box-shadow: 0px 0px 10px 5px #018ff1;
    }
    100%{
        box-shadow: 0px 0px 10px 5px #f76800;
    }
}
