/* Imagen central con efecto de vinilo */
.ligthing-icon {
    width: 200px;  /* Ajusta el tamaño según sea necesario */
    height: 200px;
    border-radius: 50%;  /* Hacer la imagen circular */
    overflow-x: hidden;
    border: 10px solid #4CAF50;  /* Un borde para simular el vinilo */
    animation: rotateVinyl 15s linear infinite, 
    glow 2s linear infinite, 
    changeBorderColor 5s linear infinite;
    box-shadow: 0px 0px 10px 5px white;
    border-radius: 50%;
    margin-top: 2em;
    background-color: darkslategrey;
}


/* Animación de rotación lenta */
@keyframes rotateVinyl {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotateVinyl {
    animation: rotateVinyl 5s linear infinite; /* Rotación continua */
}

.playing {
    animation-play-state: running; /* Comienza la animación cuando esté en reproducción */
}


.btn-futuristic:hover {
    transform: scale(1.2);    
    /* Color degradado para el botón en rojo */
    background-color: linear-gradient(45deg, #f76800, #86fd03, #018ff1);
    opacity: 1;
}


.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Genera una animación para el brillo */
@keyframes glow {
    from {
        box-shadow: 0px 0px 0px 0px white;
    }
    to {
        box-shadow: 0px 0px 20px 10px white;
    }
}

@keyframes changeBorderColor{
    0%{
        border-color: #f76800;
    }
    33%{
        border-color: #86fd03;
    }
    66%{
        border-color: #018ff1;
    }
    100%{
        border-color: #f76800;
    }
}


