/* Imagen central con efecto de vinilo */
.ligthing-icon {
    position: relative;
    width: 280px;  /* Ajusta el tamaño según sea necesario */
    height: 280px;
    border-radius: 50%;  /* Hacer la imagen circular */
    overflow: hidden;
    border: 10px solid #4CAF50;  /* Un borde para simular el vinilo */
    animation: rotateVinyl 15s linear infinite, 
    glow 2s linear infinite, 
    changeBorderColor 5s linear infinite;
    box-shadow: 0px 0px 10px 5px white;
    border-radius: 50%;
    margin-top: 1em;
}

/* Agujero en el centro de la imagen */
.ligthing-icon::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;  /* Tamaño del agujero central */
    height: 60px;
    background-color: black;  /* Color del agujero */
    border-radius: 50%;  /* Circular */
    z-index: 1;  /* Colocarlo sobre la imagen */
}

/* Animación de rotación lenta */
@keyframes rotateVinyl {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.btn-futuristic:hover {
    transform: scale(1.2);    
    opacity: 1;
}


/* Genera una animación para el brillo */
@keyframes glow {
    from {
        box-shadow: 0px 0px 10px 5px white;
    }
    to {
        box-shadow: 0px 0px 20px 10px white;
    }
}

@keyframes changeBorderColor{
    0%{
        border-color: #f76800;
    }
    33%{
        border-color: #86fd03;
    }
    66%{
        border-color: #018ff1;
    }
    100%{
        border-color: #f76800;
    }
}

@keyframes bounceEffect {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);  /* Escala el elemento ligeramente */
    }
    100% {
        transform: scale(1);
    }
}