/* Estilos generales para la galería de DJs */
.container {
    max-width: 1200px;
    margin: 50px auto; /* Centra el contenedor y añade espacio arriba y abajo */
    padding: 15px;
    color: #ffffff; /* Texto en blanco para contraste */
    border-radius: 8px; /* Bordes redondeados para el contenedor */
}


/* Estilos para cada tarjeta de DJ en la galería */
.col-lg-3, .col-md-4, .col-sm-6 {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 20px; /* Espacio entre tarjetas */
}

.card-dj:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);
}

/* Imágenes dentro de las tarjetas */
.img-fluid {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Esquinas redondeadas en las imágenes */
}

/* Estilos para los nombres de los DJs */
h5 {
    color: #21d4fd; /* Color distintivo para los nombres */
    text-align: center;
    margin-top: 15px; /* Espacio entre la imagen y el nombre */
}

/* Descripción del DJ */
p {
    color: #cccccc; /* Texto más claro para la descripción */
    text-align: center;
    font-size: 14px;
    padding: 0 10px; /* Padding horizontal para alinear texto */
}
